.racist {
	background-color: inherit !important;
}

.erect {
	transform: scale(1.5), rotate(120deg);
}

.immigrant {
	border: none;
	overflow: hidden;
}

.kkk {
	white-space: normal !important;
}

.lib-dem {
	direction: ltr;
}

.tories {
	top: 1%;
	position:fixed;
}

.hmps {
	empty-cells: hidden;
}

.ukip {
	opacity:0;	
}

.tories-in-scotland {
	visibility:hidden;
}

.wife {
	right: 100%;
	margin: 0;
	padding-bottom: 0 !important;
}

