.racist {
	background-color: inherit !important;
}

.erect {
	transform: scale(1.5), rotate(120deg);
}

.immigrant {
	border: none;
	overflow: hidden;
}

.lib-dem {
	direction: ltr;
}

.tories {
	top: 1%;
}

.hmps {
	empty-cells: hidden;
}
