.racist {
	background-color: inherit !important;
}

.erect {
	transform: scale(1.5), rotate(120deg);
}

.immigrant {
	border: none;
	overflow: hidden;
}

.kkk {
	white-space: normal;
}

.lib-dem {
	direction: ltr;
}

.tories {
	top: 1%;
	position:fixed;
}

.hmps {
	empty-cells: hidden;
}

.ukip {
	opacity:0;	
}
}
